<h2 mat-dialog-title>{{information.action}}</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="employerform" >
    <div class="wrapper">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Fill form field</mat-label>
                <input matInput formControlName="fname">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Fill form field</mat-label>
                <input matInput formControlName="lname">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Fill form field</mat-label>
                <input matInput formControlName="email">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Fill form field</mat-label>
                <input matInput formControlName="dob">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Fill form field</mat-label>
                <input matInput formControlName="experiance">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Fill form field</mat-label>
                <input matInput formControlName="education">
                <mat-icon matSuffix>email</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Fill form field</mat-label>
                <input matInput formControlName="address">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Fill form field</mat-label>
                <input matInput formControlName="aadhar">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Fill form field</mat-label>
                <input matInput formControlName="pan">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
        </div>
        
      </div>
    </form>
      
</mat-dialog-content>
<mat-dialog-actions class="button-container">
  <button class="button-half" mat-button mat-dialog-close>Cancel</button>
  <button class="button-half-action" mat-button >{{information.action}}</button>
</mat-dialog-actions>